

#ajaxCheck{
    /*color: blue;*/
}

.ui.menu .item img.logo {
    margin-right: 1.5em;
}

*{
    font-family: 'Segoe UI','微軟正黑體',sans-serif;
}

span.ui.header {
    font-family: 'Segoe UI','微軟正黑體',sans-serif;
}